body {
  font-size: 16px;
  color: #fff;
  background-color: #d2e8e7;
}

.navbar {
	background-color: #ffc371;
}

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }

h1, h2 {
    text-align: center;
    color: black;
}

.row
{
	margin-right: 5px;
}

#food-tile {
	margin: 10px;
  font-family: Helvetica;
  color: white;
  padding: 10px 10px 10px 10px; 
  color: black;
  background-color: #edc8ae; 
}


{




}